body{
  background-color: #13D038;

}

table{
    border: 3px solid black;
    padding: 10px;
}

h1:hover{
    color: red;
}

div * {
  float: left;
  width: 50%;

}
.mainimg{
    border: 3px solid black;
    border-radius: 5px;
    float: left;
    width: 20%;
    height: auto;


}

.imgother{
  border: 3px solid black;
  border-radius: 5px;
  width: 20%;
  height: auto;
  float: right;

}


.nhead {
  font-family: Arial;
  font-weight: bold;
  font-size: 100px;
  float: right;


}

.lhead{
    font-family: Arial;
    font-style: bold;
    font-size: 50px;
    color: white;
}

.bodyHead{
    font-family: Arial;
    font-size: 50px;
    color: white;


}

td ul li{
  display: inline;
  padding-left: 150px;
  padding-top: 0px;

}


.trsections{
  background-color:#84ff00;
  border-left: 10px solid #428000;
  padding: 15px;
}

div > p{
  font-size: 20px;
  font-family: Arial;
  color: white;

}

#bio{
  background-color:#b47b23;
  border-left: 10px solid #966821;
  text-align: center;
  width: 1000px;
}

h3{
  font-size: 50px;
  color: white;
  font-family: Arial;
  padding: 20px;

}

.bodyLists{
  display: inline;
  font-family: Arial;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  padding: 10px;
  margin: 5px;
  background-color: #eea536;
  width: 100px;

}


#bioList{
  display: inline;
  font-family: Arial;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 50px;
  color: black;
  padding: 10px;
  margin: 5px;
  background-color: #df6f33;


}

#theLinks{
  background-color:#84ff00;
  border-left: 10px solid white;
  text-align: center;
  width: 1000px;

}

h4{
  font-family: Arial;
  color: white;
}

a:hover{
  color: red;
}

a:nth-child(2){
  color: black;
}


h5{
  font-family: Arial;
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

/* Lisa's changes */
.imgother {
    width: 30%;
    margin: 15px;
}

td {
    padding-left: 15px;
}
